*.suo
*.sdf
LICENSE.txt
README.txt
examples
manuals
Visual Micro
*.opensdf
bin
obj
packages
node_modules
doc
Debug
.vs
__vm
/Libraries/Blynk
/Libraries/BlynkESP8266_HardSer
/Libraries/BlynkESP8266_SoftSer
/Libraries/RF24
/Libraries/arduino_172645
/Libraries/arduino_161288
*.user
typings
Release
