*.suo
*.sdf
LICENSE.txt
README.txt
examples
manuals
Contributors.md
/Libraries/IRremote/README.md
/Libraries/IRremote/keywords.txt
/Libraries/NewPing/keywords.txt
/sr04-2/Visual Micro/.sr04-2.vsarduino.h
