doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/javascripts/knockout-3.3.0.js")
    script(type="text/javascript", src="/javascripts/moment.min.js")
    script(type="text/javascript", src="/javascripts/chartjs.min.js")
    block head
  body
    block content