extends layout
block head

  script(type="text/javascript", src="/javascripts/viewmodel.js")

block content

  .status(data-bind='style: { backgroundColor: color() }')
    .centre
      p.durationLarge
        span(data-bind='text: durationHuman ') 
      p.durationSmall
        span(data-bind='text: durationSeconds ') 
        span  since 
        span(data-bind='text: date ')
      canvas(id="myChart" width="800" height="400")

    

  script.
    var viewModel = new ViewModel();
    viewModel.start();
    ko.applyBindings(viewModel);