body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.status {
  opacity: 1;
  background-color: #ffa500;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.centre {
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: 0;
}
.durationLarge {
  font-size: 800%;
}
.durationSmall {
  font-size: 100%;
}
