doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
  body
    #container
    br
    #gyro 
        Orientation
        p alpha 
            span#alpha
        p beta 
            span#beta
        p gamma 
            span#gamma
        Acceleration
        p X
            span#x
        p Y
            span#y
        p Z
            span#z

    br
    script(src='/javascripts/virtualjoystick.js')
    script(src='/javascripts/gyro.min.js')
    script(src='/javascripts/control.js')
    script.
        document.addEventListener("DOMContentLoaded", function() {
            var c = new Control();
            c.init();
        });
